.clientH2{
    font-size: 2rem;
    font-weight: bold;
}

.client-main{
    padding: 30px;
}

.client-subMain{
    margin: 10px;
}

.keys{
    /* font-size: 1rem; */
    font-weight: bold;
}
.btn{
    border: none;
    text-align: center;
    padding: 16px 24px;
    color: white !important;
    background-color: #74bed7 !important;
}
.btn:hover{
    transition: 1s;
    background-color: #F3972B !important;
}
.col-center{
    text-align: center;
  }
  .ant-table-cell {
    white-space: normal;
    text-align: justify;
    max-width: 150px;
  
  }
  /* .desc{
    width: 100%;
    max-width: 400px;
  } */