.orders{
    width: 100%;
}
.responsive {
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: scroll;
    height: 88vh;
  }

.order-input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
